
@page
@using BlogRealProblems.Models;
@*@attribute [Authorize]*@

@model IndexModel
@{
    ViewData["Title"] = "Real Power Problems - Publish";
}


<div class="container py-5">

    <h4>News, Insights and Cases that will help you to solve the real problems, </h4>
    <h4>those that REALY happens on the daily work with Power Platform! </h4>

    <div class="container text-center py-5">
        <div class="row">

            @foreach (var noticia in Model.Noticias)
            {

                <div class="col">
                    <div class="card  bg-dark bg-dark border-warning" style="width: 18rem;">
                        @*<div class="card-body">
                            <img src="/img/powerapps.png" class="mh-100" style="width: 100px" alt="...">
                        </div>*@
                        <div class="card-body">
                        <h5 class="card-title">@noticia.Titulo</h5>
                        <p class="card-text">@noticia.Chapeu</p>
                        <h7 class="card-text">@noticia.Descricao</h7>
                        <p class="card-text">@noticia.DataPublicacao</p>
                        <p class="card-text">@noticia.Autor</p>
                        </div>
                            <div class="card-body">
                            <button id="btnExcluir" data-noticia-id="@noticia.Id">Delete</button>
                            <a href="#" class="card-link">Go></a>
                        </div>
                    </div>

                </div>

            }

        </div>
    </div>

</div>




